<?xml version="1.0"?>
<config>
	<modules>
		<Ameex_Otherproducts>
			<version>1.0.0</version>
		</Ameex_Otherproducts>
	</modules>
	<frontend>
		<routers>
			<otherproducts>
				<use>standard</use>
				<args>
					<module>Ameex_Otherproducts</module>
					<frontName>otherproducts</frontName>
				</args>
			</otherproducts>
		</routers>
		<layout>
			<updates>
				<otherproducts>
					<file>otherproducts.xml</file>
				</otherproducts>
			</updates>
		</layout>
	</frontend>
	<global>
		<blocks>
			<otherproducts>
				<class>Ameex_Otherproducts_Block</class>
			</otherproducts>
		</blocks>
		<models>
			<otherproducts>
				<class>Ameex_Otherproducts_Model</class>
				<resourceModel>otherproducts_mysql4</resourceModel>
			</otherproducts>
			<otherproducts_mysql4>
				<class>Ameex_Otherproducts_Model_Mysql4</class>
				<entities>
					<otherproducts>
						<table>salecollection</table>
					</otherproducts>
				</entities>
			</otherproducts_mysql4>
		</models>
		<resources>
			<otherproducts_setup>
				<setup>
					<module>Ameex_Otherproducts</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</otherproducts_setup>
			<otherproducts_write>
				<connection>
					<use>core_write</use>
				</connection>
			</otherproducts_write>
			<otherproducts_read>
				<connection>
					<use>core_read</use>
				</connection>
			</otherproducts_read>
		</resources>
	</global>
</config>