<?xml version="1.0"?>
<config>
    <modules>
        <MW_Ipchecker>
            <version>0.1.0</version>
        </MW_Ipchecker>
    </modules>
    <frontend>
        <routers>
            <ipchecker>
                <use>standard</use>
                <args>
                    <module>MW_Ipchecker</module>
                    <frontName>ipchecker</frontName>
                </args>
            </ipchecker>
        </routers>
        <layout>
            <updates>
                <ipchecker>
                    <file>ipchecker.xml</file>
                </ipchecker>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<ipchecker>
				<use>admin</use>
				<args>
					<module>MW_Ipchecker</module>
					<frontName>ipchecker</frontName>
				</args>
			</ipchecker>
        </routers>
    </admin>
    <adminhtml>		
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<MW_Ipchecker>
							<title>Ipchecker Module</title>
							<sort_order>10</sort_order>
						</MW_Ipchecker>
						<system>
                            <children>
                                <config>
                                    <children>
                                        <ipchecker translate="title" module="ipchecker">
                                            <title>Ip Checker</title>
                                        </ipchecker>
                                    </children>
                                </config>
                            </children>
                        </system>
					</children>
				</admin>
			</resources>		
		</acl>
		<layout>
			<updates>
				<ipchecker>
					<file>ipchecker.xml</file>
				</ipchecker>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <ipchecker>
                <class>MW_Ipchecker_Model</class>
                <resourceModel>ipchecker_mysql4</resourceModel>
            </ipchecker>
            <ipchecker_mysql4>
                <class>MW_Ipchecker_Model_Mysql4</class>
                <entities>
                    <ipchecker>
                        <table>ipchecker</table>
                    </ipchecker>
                </entities>
            </ipchecker_mysql4>
        </models>
        <resources>
            <ipchecker_setup>
                <setup>
                    <module>MW_Ipchecker</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ipchecker_setup>
            <ipchecker_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ipchecker_write>
            <ipchecker_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ipchecker_read>
        </resources>
        <blocks>
            <ipchecker>
                <class>MW_Ipchecker_Block</class>
            </ipchecker>
			  <catalog>
				<rewrite>
					<product_price>MW_Ipchecker_Block_Price</product_price> 
					<product_view>MW_Ipchecker_Block_View</product_view>
					<product_view_type_grouped>MW_Ipchecker_Block_Typegroup</product_view_type_grouped>
				</rewrite>
			</catalog>	
        </blocks>
        <helpers>
            <ipchecker>
                <class>MW_Ipchecker_Helper</class>
            </ipchecker>
        </helpers>
    </global>
	<default>
		<ipchecker>
			<info>
				<online>1</online>
			</info>
		</ipchecker>
		
	</default>
</config>