<?xml version="1.0"?>
<config>
    <modules>
        <MW_Uploadattribute>
            <version>0.1.1</version>
        </MW_Uploadattribute>
    </modules>
    <adminhtml>
		<layout>
			<updates>
				<uploadattribute>
					<file>uploadattribute.xml</file>
				</uploadattribute>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <uploadattribute>
                <class>MW_Uploadattribute_Model</class>
            </uploadattribute>
        </models>
		<resources>
            <uploadattribute_setup>
                <setup>
                    <module>MW_Uploadattribute</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </uploadattribute_setup>
            <uploadattribute_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </uploadattribute_write>
            <uploadattribute_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </uploadattribute_read>
        </resources>
		<blocks>
            <uploadattribute>
                <class>MW_Uploadattribute_Block</class>
            </uploadattribute>
		</blocks>
        <helpers>
            <uploadattribute>
                <class>MW_Uploadattribute_Helper</class>
            </uploadattribute>
        </helpers>
        <events>
			<catalog_product_prepare_save>
				<observers>
					<uploadattribute>
						<type>singleton</type>
		                <class>uploadattribute/observer</class>
		                <method>saveFile</method>
					</uploadattribute>
				</observers>			
			</catalog_product_prepare_save>
		</events>
    </global>
</config>