<?xml version="1.0"?>
<config>
    <modules>
        <MW_Categoryshow>
            <version>0.1.2</version>
        </MW_Categoryshow>
    </modules>
    <frontend>
        <routers>
            <categoryshow>
                <use>standard</use>
                <args>
                    <module>MW_Categoryshow</module>
                    <frontName>categoryshow</frontName>
                </args>
            </categoryshow>
        </routers>
        <layout>
            <updates>
                <categoryshow>
                    <file>categoryshow.xml</file>
                </categoryshow>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<categoryshow>
				<use>admin</use>
				<args>
					<module>MW_Categoryshow</module>
					<frontName>categoryshow</frontName>
				</args>
			</categoryshow>
        </routers>
    </admin>
    <adminhtml>		
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<MW_Categoryshow>
							<title>Categoryshow Module</title>
							<sort_order>10</sort_order>
						</MW_Categoryshow>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<categoryshow>
					<file>categoryshow.xml</file>
				</categoryshow>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        
        <resources>
            <categoryshow_setup>
                <setup>
                    <module>MW_Categoryshow</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </categoryshow_setup>
            <categoryshow_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </categoryshow_write>
            <categoryshow_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </categoryshow_read>
        </resources>
        <blocks>
            <categoryshow>
                <class>MW_Categoryshow_Block</class>
            </categoryshow>
        </blocks>
        <helpers>
            <categoryshow>
                <class>MW_Categoryshow_Helper</class>
            </categoryshow>
        </helpers>
    </global>
</config>