<?xml version="1.0"?>
<config>
    <modules>
        <MW_Customerfield>
            <version>0.1.0</version>
        </MW_Customerfield>
    </modules>
    <frontend>
    	<layout>
            <updates>
                <customerfield>
                    <file>mw_customerfield.xml</file>
                </customerfield>
            </updates>
        </layout>
    </frontend>
    <global>
        <resources>
            <customerfield_setup>
                <setup>
                    <module>MW_Customerfield</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customerfield_setup>
            <customerfield_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customerfield_write>
            <customerfield_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customerfield_read>
        </resources>
        <helpers>
            <customerfield>
                <class>MW_Customerfield_Helper</class>
            </customerfield>
        </helpers>
    </global>
</config>