<?xml version="1.0"?>

<config>
    <modules>
        <MW_SmartMenu>
            <version>0.8.0</version>
        </MW_SmartMenu>
    </modules>
    <frontend>
        <routers>
            <smartmenu>
                <use>standard</use>
                <args>
                    <module>MW_SmartMenu</module>
                    <frontName>smartmenu</frontName>
                </args>
            </smartmenu>
        </routers>       
        <layout>
            <updates>
                <smartmenu>
                    <file>smartmenu.xml</file>
                </smartmenu>
            </updates>
        </layout>
	</frontend>
    <global>
		<blocks>
			<smartmenu>
				<class>MW_SmartMenu_Block</class>
			</smartmenu>
		</blocks>
		<models>
			<smartmenu>
				<class>MW_SmartMenu_Model</class>
			</smartmenu>
		</models>
		<helpers>
			<smartmenu>
				<class>MW_SmartMenu_Helper</class>
			</smartmenu>
		</helpers>
        <resources>
            <smartmenu_setup>
                <setup>
                    <module>MW_SmartMenu</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </smartmenu_setup>
        </resources>
       
    </global>

    <admin>
        <routers>
			<smartmenu>
				<use>admin</use>
				<args>
					<module>MW_SmartMenu</module>
					<frontName>smartmenu</frontName>
				</args>
			</smartmenu>
        </routers>
    </admin>
    <adminhtml>		
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <smartmenu>
                                            <title>Mage World</title>
                                        </smartmenu>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>				
			</resources>
		</acl>
		<layout>
			<updates>
				<smartmenu>
					<file>smartmenu.xml</file>
				</smartmenu>
			</updates>
		</layout>
    </adminhtml>   
	<default>
		<smartmenu>
	   		<smartmenu><override>1</override></smartmenu>
			<smartmenu><expanding>0</expanding></smartmenu>
			<smartmenu><leftmenu>1</leftmenu></smartmenu>
			<smartmenu><rightmenu>0</rightmenu></smartmenu>
			<smartmenu><collapse>1</collapse></smartmenu>
	   	</smartmenu>
    </default>

</config>
