<?xml version="1.0"?>
<config>
    <modules>
        <MW_Breadcrumbs>
            <version>0.1.0</version>
        </MW_Breadcrumbs>
    </modules>
    <frontend>
        <layout>
            <updates>
                <breadcrumbs>
                    <file>breadcrumbs.xml</file>
                </breadcrumbs>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <breadcrumbs>
                <class>MW_Breadcrumbs_Block</class>
            </breadcrumbs>
        </blocks>
		<models>
            <breadcrumbs>
                <class>MW_Breadcrumbs_Model</class>
            </breadcrumbs>
        </models>
        <resources>
            <breadcrumbs_setup>
                <setup>
                    <module>MW_Breadcrumbs</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </breadcrumbs_setup>
            <breadcrumbs_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </breadcrumbs_write>
            <breadcrumbs_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </breadcrumbs_read>
        </resources>
    </global>
</config>